<% if logged_in? %>
<div class="classic-navbar">
        <section class="nav-button">
            <%= link_to 'Add a New Classic', new_classic_path %>
            <%= link_to 'Modern Classics', classics_newest_classic_path %>
            <%= link_to 'Ancient Classics', classics_oldest_classic_path %>
        </section>
</div>
<% end %>