<% if logged_in? %>
<div class="classic-navbar">
    <h1>Classics Navigation Bar</h1>
        <section class="nav-button"><%= link_to 'Add a New Classic', new_classic_path %></section>
        <section class="nav-button"><%= link_to 'Most Recent Classic', classics_newest_classic_path %></section>
        <section class="nav-button"><%= link_to 'Oldest Classic', classics_oldest_classic_path %></section>
</div>
<% end %>