<% if logged_in? %>
<div class="classic-navbar">
        <span class="mini-nav">
            <%= link_to 'Add a New Classic', new_classic_path %>
        </span>
        <span class="mini-nav">
            <%= link_to 'Modern Classics', classics_newest_classic_path %>
        </span>
        <span class="mini-nav">
            <%= link_to 'Ancient Classics', classics_oldest_classic_path %>
        </span>
        <span class="mini-nav">
         <%= link_to '1600-1700s Classics', classics_1600_1700s_classics_path %>
        </span>
</div>
<% end %>