<h1>Classic Literature</h1>
<ul>
    <% @classics.each do |classic|%>
        <li><h3><%= link_to classic.title, classics_path(classic) %></h3><br> 
        Author: <%= classic.author_id %> - Category: <%= classic.category_id %></li>

    <% end %>
</ul>
<p>Find me in app/views/classic/index.html.erb</p>
