<h1>Authors</h1>
<ul>
    <% @authors.each do |author|%>
        <li><%= link_to author.name, authors_path(author) %> </li>
    <ul>
        <%= author.classics.each do |classic|%>
            <li><%= link_to classic.title, classics_path(classic) %></li>
        <% end %>
    </ul>
    <% end %>
</ul>
<p>Find me in app/views/authors/index.html.erb</p>
