<h1 class="font-bold text-3xl">Welcome to the Classic Literature -> Yoda Translator</h1><br>
<% if session[:user_id] != nil %>
  <h1 class="font-semibold text-2xl" >Hello <%= @user.username %>!</h1>
  <% if !@user.classics.nil?%>
    <h2 class="text-xl" >Your Submissions:</h2>
    <ol>
      <% @user.classics.each do |classic|%>
      <li class="text-md" ><%= classic.title %> by <%= classic.author_name %></li>
      <% end %><br>
    </ol>
<% end %>
<% else %>
<h3 class="font-semibold text-lg" > If you would like to translate a piece of written history we ask that you signup/login to the database.</h3>
<% end %>
<p class="text-md" >This is for every person who has read a timeless piece of literature and thought to 
themselves, "I wonder how Yoda would read this?" When you access this app you are able
 to look at all user submitted classics and their translations. You also have the option
  of learning more about the authors through their biography and a list of user 
  submitted work. 
</p>
