/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*  Color theme used: https://color.adobe.com/Nighttime%20Librarian%2004-color-theme-4040211 */
/* Add a black background color to the top navigation */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.pagecontent {
  margin: 15px;
  padding: 5px;
}
.topnav {
  display: flex;
  position: sticky;
    background-color: #241C1C;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #b8b8ba;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #B8B8BA;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #736069;
    color: white;
  }
  .topnav .userfunctions {
    background-color: #000000;
  }
  .topnav .userfunctions a.hover {
    background-color: #4d4949;
    color: white;
  }
  .bottomnav {
    position: sticky;
    width:100%;
    bottom:0px;
    float: right;
    color: #b8b8ba;
    background-color: #241C1C;
    text-align: center;
    padding: 18px 10px;
    text-decoration: none;
    font-size: 17px;
  }
