<h1 class="maintitle">All Categories</h1><br>
<ul>
    <% @categories.each do |cat|%>
    <div class="">
        <li class="border-category">
            <article class="main-link">
                <%= link_to cat.name, category_path(cat) %>
            </article> 
            <p class="subtitle">
                <%= cat.definition%>
            </p> 
        </li><br>
    </div>
    <% end %>
</ul>
