<h1>Category: <%= @category.name %></h1>
<ul>
    <% @category.classics.each do |classic| %>
        <li> <%= link_to classic.title, classic_path(classic) %> by: <%= classic.author_name %></li>
    <% end %>
</ul>
<p>Find me in app/views/categories/show.html.erb</p>
