<h1>Category: <%= @category.name %></h1>
<ul>
    <% @category.classics.each do |classic| %>
        <li> <%= classic.name%></li>
    <% end %>
</ul>
<p>Find me in app/views/categories/show.html.erb</p>
