<h1 class="maintitle">Category: <%= @category.name %></h1>
<ul>
    <% @category.classics.each do |classic| %>
        <li class=""> <section class="sublink"><%= link_to classic.title, classic_path(classic) %></section> by: <%= classic.author_name %></li>
    <% end %>
</ul>
